{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login
{% endblock title %}
{% block custom_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'static/style.css' %}">
    <style>
        h1{
            color: #8ab0ca;
            text-align: center;
            margin-top: 10px;
        }
        .forms{
            width: 100%;
            min-height: 27.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .forms .input-field {
           display: flex;
           padding: 2rem;
           justify-content: space-around;
           width: 70%;
        }
        .forms .input-field input {
            width: 60%;
            background-color: #3F3A40;
            border: none;
            outline: none !important;
            color: #8ab0ca;
            border-bottom: 1px solid #A67A29;

        }
        .forms .input-field label{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            color:#A67A29;
            
        }

        .forms .btn{
            background-color: #73685F;
            width: 20%;
            border-radius: 10px;
            margin-top: 4rem;
            color: #fff;
            border: none;
            outline: none;
            font-size: 18px;

        }
        .forms .btn:hover{
            background-color: #A67A29;
            color: #8ab0ca;
            letter-spacing: 2px;
            width: 30%;
            transition: 1.5s;
        }
    </style>
{% endblock custom_tags %}
{% block content %}
    <h1>Welcome to our website</h1> 
    <form class="forms" action="" method="post">
        {% csrf_token %}
        
       <div class="input-field">
        <label class="label" for="{{ form.username.id_for_label }}"> Username </label>
        {{ form.username }}
        {{ form.username.errors }}
       </div>

       <div class="input-field">
        <label class="label" for="{{ form.password.id_for_label }}"> Password </label>
        {{ form.password }}
        {{ form.password.errors }}
       </div>


        <input type="submit" value="Login" class="btn btn-outline btn-outline-dashed btn-outline-dark
        btn-active-light-info">
    </form>
{% endblock content %}
