{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ task.title|capfirst }}
{% endblock title %}

{% block custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}">
{% endblock custom_tags %}


{% block content %}
<table class="table table-hover">
    <thead>
        <a href="{% url 'todolist:task-delete' task.id %}" class="btn-detail">Delete</a>
        <a href="{% url 'todolist:task-update' task.id %}" class="btn-detail">Edit</a>
        <a href="{% url 'todolist:tasks' %}" class="btn-detail"> Back </a>
        <tr>
            <th scope="col">Todo item</th>
            <th scope="col">Due Date</th>
            <th scope="col">Completed</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.completed }}</td>
            <td>
                {% for tag in task.tags.all %}
                <span class="badge badge-danger"><a href="{% url 'todolist:tagged-tasks' tag.slug %}">{{ tag }}</a></span>
                {% endfor %}

            </td>


        </tr>
    </tbody>

    {% endblock %}