{% extends 'base.html' %}
{% load static %}
{% block custom_tags %}
<style>
    .btn{
        color: white;
        font-size: 16px;
        background-color: #73685F;
        border-radius: 10px;
        margin-right: 10px;
        border: none;
        outline: none;
      }
      .btn:hover{
        background-color: #A67A29;
        color: #8ab0ca;
        letter-spacing: 2px;
        transition: 1.5s;
      }
      tr th{
          color: #8ab0ca;
      }
      tr td{
          color: #fff;
      }
      tr:hover td{
          color: #8ab0ca;
      }
</style>
{% endblock custom_tags %}


{% block content %}
<table class="table table-hover">
    <thead>
        <a href="{% url 'todolist:task-delete' task.id %}" class="btn">Delete</a>
        <a href="{% url 'todolist:task-update' task.id %}" class="btn">Edit</a>
        <a href="{% url 'todolist:tasks' %}" class="btn"> Back </a>
        <tr>
        <th scope="col">Todo item</th>
        <th scope="col">Due Date</th>
        <th scope="col">Completed</th>
        <th scope="col">Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.completed }}</td>
            <td>{{ task.category }}</td>
        </tr>
    </tbody>
    
{% endblock %}
