{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{{form.media}}


{% block custom_tags %}    
    <link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}">
{% endblock custom_tags %}

{% block content  %}

    <form action="" method="POST" class="form-task-update">
        <div class="input-field">
            {% csrf_token %}
            {% bootstrap_form form %}
        </div>
        <input class="btn" type="submit" value="Edit">
    </form>

{% endblock content  %}
