{% extends "base.html" %}
{% load static %}
{% block title %}
Password reset
{% endblock title %}

{% block custom_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
{% endblock custom_tags %}
{% block content %}

<h3> Enter new password </h3>
<p>please enter your password twice so we can verify you typed it in correctly</p>
<form class="forms" action="" method="post">
    <div class="input-field">
        {% csrf_token %}
        <div class="input-field">
            <label class="label" for="{{ form.new_password1.id_for_label }}"> New password </label>
            {{ form.new_password1 }}
            {{ form.helptext }}
            {{ form.new_password1.errors }}
        </div>

        <div class="input-field">
            <label class="label" for="{{ form.new_password2.id_for_label }}"> New password confirmation </label>
            {{ form.new_password2 }}
            {{ form.helptext }}

            {{ form.password.new_password2 }}
        </div>
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </div>
    <input class="btn" type="submit" value="Update Password">
</form>


{% endblock content %}

